@layer base {
  :root {
    --shiki-color-text: theme('colors.white');
    --shiki-token-constant: theme('colors.lime.300');
    --shiki-token-string: theme('colors.lime.300');
    --shiki-token-comment: theme('colors.zinc.500');
    --shiki-token-keyword: theme('colors.sky.300');
    --shiki-token-parameter: theme('colors.pink.300');
    --shiki-token-function: theme('colors.violet.300');
    --shiki-token-string-expression: theme('colors.lime.300');
    --shiki-token-punctuation: theme('colors.zinc.200');
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.shiki-magic-move-container, .shiki.nord {
  background: transparent !important;
  white-space: pre-wrap !important;
}

.notistack-MuiContent {
  @apply p-4 rounded-md shadow-md;
}

.notistack-MuiContent-success {
  background-color: #3f3f46 !important;
  color: white !important;
}

.notistack-MuiContent-success svg > path {
  fill: #84cc16 !important;
}

.notistack-MuiContent-error {
  background-color: #3f3f46 !important;
  color: white !important;
}

.notistack-MuiContent-error svg > path {
  fill: #991b1b !important;
}